[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
gunicorn = "*"
django-filter = "*"
drf-nested-routers = "*"

[dev-packages]
pylint-django = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.9"
